* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 550px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

@media (max-width:600px){

.container{
margin:20px;
padding:20px;
}

}